@using PersonaOvertimeWeb.Models;
@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IOvertimeService OvertimeService;
@page "/"

<PageTitle>Home</PageTitle>

@if (!isLoggedIn)
{
    <br><br><br>
    <p>Please Login</p>
    <br><br><br>
}
else
{
    <h3>Good Afternoon!</h3>

    <p>Welcome to Persona</p>

    <br><br><br>


    <br><br>

    <div class="calendar">
        <div class="calendar__picture">
            <h2>@date_now</h2>
        </div>
    </div>
    <br><br>

    <br><br><br>

    @if (isLoading)
    {
        <p>Loading data.....</p>
    }
    else
    {
        <p>Overtime Activity</p>

        <br><br>

        @if (OvertimestatisticData != null)
        {
            <div class="text-center" style="font-family: system-ui;">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="card__a">
                                <div class="card-header">Need Approval</div>
                                <h3>@OvertimestatisticData.data.need_approval</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card__a">
                                <div class="card-header">Approved</div>
                                <h3>@OvertimestatisticData.data.approved</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card__a">
                                <div class="card-header">Rejected</div>
                                <h3>@OvertimestatisticData.data.rejected</h3>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card__a">
                                <div class="card-header">Settlement Approval</div>
                                <h3>@OvertimestatisticData.data.settlement_approval</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card__a">
                                <div class="card-header">Revise</div>
                                <h3>@OvertimestatisticData.data.revise</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card__a">
                                <div class="card-header">Cancelled</div>
                                <h3>@OvertimestatisticData.data.cancelled</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card__a">
                                <div class="card-header">Completed</div>
                                <h3>@OvertimestatisticData.data.completed</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <br><br><br><br><br><br>
        <SurveyPrompt Title="How is Blazor working for you?" />
    }
}


@code {
    private bool isLoggedIn;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var result = await ProtectedSessionStore.GetAsync<string>("token");
        if (result.Success)
        {
            isLoggedIn = true;
            await GetOvertimeStatistic();
        }
        else
        {
            isLoggedIn = false;
            isLoading = false;
        }
    }

    DateOnly date_now = DateOnly.FromDateTime(DateTime.Now);

    public SuccessResponse<OvertimeStatistic> OvertimestatisticData { get; set; } = new();


    private async Task GetOvertimeStatistic()
    {
        isLoading = true;
        OvertimestatisticData = await OvertimeService.GetOvertimeStatistic();
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(OvertimestatisticData));
        Console.WriteLine("TEST");
        isLoading = false;
    }

}