@page "/overtime/history"

@using Models;
@using Services;
@using System.Text.Json
@inject IOvertimeService OvertimeService;
@inject IUserDetailService UserDetailService;
@inject NavigationManager UriHelper;

<PageTitle>Overtime History - Persona</PageTitle>

@if (isLoadingPage)
{
    <div style="height: 80vh;">
    <br><br><br>
    <p>Loading Page...</p>
    <br><br><br>
    </div>
}
else
{
    @if (!isLoggedIn)
    {
        <div style="height: 80vh;">
        <br><br><br>
        <p>Please Login</p>
        <br><br><br>
        </div>
    }
    else
    {
<h3>Overtime History Data</h3>
<br>
@if (isLoading)
{
    <br><br><br>
    <p>Loading Overtime Data...</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
}
else
{

<div class="container">
    <div class="row"> 
@if (User.grade != "VIA")
{
    @foreach (var item in OvertimeDataListSup)
{
    if (item.status == 3 || item.status == 6 || item.status == 9)
    {         
                                    <div class="col-4">
                                        <div class="card" style="border-radius: 10px;" type="button" @onclick="() => Navigate(item.id)">
                                            <div class="text-center">
                                                <div class="card-header" style="background-color:#3ea7c9f2; border-top-right-radius: 10px; border-top-left-radius: 10px;">
                                                    <b style="color: white;">@item.status_text</b>
                                                </div>
                                                <div class="card-body" style="padding:0;">
                                                    <div class="row" style="display:flex;justify-content:center;align-items:center;padding:0;margin:0;">
                                                        <div class="col-2" style="display:flex;justify-content:center;align-items:center;padding:0;margin:0;">
                                                            <div style="background-color: #0483BA; color: white; border-radius: 8px; width: 80%; font-size: 14px;">
                                                                <div>
                                                                    @item.start_date.ToString("dd")
                                                                </div>
                                                                <div>
                                                                    @item.start_date.ToString("MMM")
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-10" style="text-align: start; font-size: 14px;">
                                                            <br>
                                                            <div>
                                                                @item.start_time.ToString("HH:mm:ss") - @item.end_time.ToString("HH:mm:ss")
                                                            </div>
                                                            <div>
                                                                Submission Date: @item.request_date.ToString("MMM, dd yyyy")
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer" style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
                                                    <b>@item.user.name</b>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
    }     
}
}
else
{
    @foreach (var item in OvertimeDataList)
{    
    if (item.status == 3 || item.status == 6 || item.status == 9)
    {       
    <div class="col-3" style="height : 220px; font-family: system-ui;">
        <div class="card"  type="button" @onclick="() => Navigate(item.id)">
        <div class="text-center">
            <div class="card-header" style="background-color:#3ea7c9f2; height : 40px"><b style="color:#102060;">@item.status_text</b></div>
                <h4 class="card-title" style="height : 40px;">@item.user.name</h4>
                <p style="font-size: 14px;">@item.start_date.ToString("MMMM, dd yyyy")</p>
                <p style="font-size: 14px;">@item.start_time.ToString("HH:mm:ss") - @item.end_time.ToString("HH:mm:ss")</p>
                <p style="font-size: 14px;">Request Date: @item.request_date.ToString("MMMM, dd yyyy")</p>
            </div>
        </div>
    </div>
    }
           
}
}

    </div>
</div>
}
    }}

@code {
    private bool isLoadingPage = true;
    private bool isLoggedIn = false;
    private bool isLoading = true;
    
    [Parameter]
    public List<OvertimeDTO> OvertimeDataList { get; set; } = new();

    [Parameter]
    public List<OvertimeDTO> OvertimeDataListSup { get; set; } = new();
    public UserDTO User { get; set; } = new UserDTO();

    protected override async Task OnInitializedAsync()
    {
        isLoadingPage = true;
        var result = await ProtectedSessionStore.GetAsync<string>("token");
        if (result.Success)
        {
            isLoggedIn = true;
            await GetUserDetail();
            await GetAllOvertimeList();
            await GetAllOvertimeListSuperior();
        }
        else
        {
            isLoggedIn = false;
        }
        isLoadingPage = false;
        isLoading = false;
    }

    private async Task GetAllOvertimeList()
    {
        isLoading = true;

        var token = await ProtectedSessionStore.GetAsync<string>("token");
        OvertimeDataList = await OvertimeService.GetAllOvertimeList(token.Value);
        foreach (var item in OvertimeDataList)
        {
            @* Console.WriteLine(JsonSerializer.Serialize(item)); *@
        }
        @* Console.WriteLine(JsonSerializer.Serialize(OvertimeDataList)); *@

        isLoading = false;
    }
        private async Task GetAllOvertimeListSuperior()
    {
        isLoading = true;

        var token = await ProtectedSessionStore.GetAsync<string>("token");
        OvertimeDataListSup = await OvertimeService.GetAllOvertimeListSuperior(token.Value);
        foreach (var item in OvertimeDataListSup)
        {}
        
        isLoading = false;
    }

    private async Task GetUserDetail()
    {
        isLoading = true;
        var token = await ProtectedSessionStore.GetAsync<string>("token");
        User = await UserDetailService.GetUserDetail(token.Value);
        isLoading = false;
    }
    private void Navigate(int id)
    {
       UriHelper.NavigateTo("/overtime/detail/" + id);
    }
}
