@page "/overtime/history"

@using Models;
@using Services;
@using System.Text.Json
@inject IOvertimeService OvertimeService;
@inject NavigationManager UriHelper;

<PageTitle>Overtime History - Persona</PageTitle>

<h3>Overtime History Data</h3>
<br>
@if (isLoading)
{
    <br><br><br>
    <p>Loading Overtime Data...</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
}
else
{

<div class="container">
    <div class="row"> 
@foreach (var item in OvertimeDataList)
{    
    if (item.status == 3 || item.status == 6 || item.status == 9)
    {       
    <div class="col-3" style="height : 220px; font-family: system-ui;">
        <div class="card"  type="button" @onclick="() => Navigate(item.id)">
        <div class="text-center">
            <div class="card-header" style="background-color:#3ea7c9f2; height : 40px"><b style="color:#102060;">@item.status_text</b></div>
                <h4 class="card-title" style="height : 40px;">@item.user.name</h4>
                <p>@item.start_date.ToString("MMMM, dd yyyy")</p>
                <p>@item.start_time.ToString("HH:mm:ss") - @item.end_time.ToString("HH:mm:ss")</p>
                <p>Request Date: @item.request_date.ToString("MMMM, dd yyyy")</p>
            </div>
        </div>
    </div>
    }
           
}
    </div>
</div>
}

@code {
    private bool isLoading;
    
    [Parameter]
    public List<OvertimeDTO> OvertimeDataList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAllOvertimeList();
    }

    private async Task GetAllOvertimeList()
    {
        isLoading = true;

        OvertimeDataList = await OvertimeService.GetAllOvertimeList();
        foreach (var item in OvertimeDataList)
        {
            @* Console.WriteLine(JsonSerializer.Serialize(item)); *@
        }
        @* Console.WriteLine(JsonSerializer.Serialize(OvertimeDataList)); *@

        isLoading = false;
    }

    private void Navigate(int id)
    {
       UriHelper.NavigateTo("/overtime/detail/" + id);
    }
}
